@import '../../../ui-kit/base/variables';
@import '../../../ui-kit/base/keyframes';
@import '../../../ui-kit/base/responsive';

.chart,
.chart-detail,
.chart-detail-actions {
    background-color: $gray-0;
}

.chart {
    padding: 1rem;
    border: 1px solid $gray-7;
    cursor: pointer;
    transition: all $transition-timing ease-in;

    h4 {
        margin: 1rem 0;
        padding-left: 1rem;
    }

    &:hover {
        background-color: $white;
        box-shadow: 0.25rem 0.25rem 0.625rem $gray-3;
        transform: scale(1.025);
    }
}

.chart-detail-mask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $black-translucent;
    z-index: 3;
}

.chart-detail-main,
.chart-detail-header,
.chart-detail-footer,
.chart-detail-loader {
    display: flex;
    width: calc(100vw - 10%);
    padding: 0 1rem;
    background-color: $gray-0;
    z-index: 3;

    @include responsive(md) {
        padding: 0 2rem;
    }
}

.chart-detail-main,
.chart-detail-loader {
    flex-direction: column;
    height: calc(100vh - 12rem);
}

.chart-detail-loader {
    align-items: center;
    justify-content: center;
}

.chart-detail-header,
.chart-detail-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.spinner {
    height: 8rem;
    width: 8rem;
    margin-bottom: 1.5rem;
    border: 2px solid $gray-3;
    border-left-color: $blue-1;
    border-radius: 100%;
    transform: translateZ(0);
    transition: opacity ($transition-timing / 2) ease;
    animation: spinner 1.1s infinite linear;
}
